[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "fastapi_tools"
version = "1.0.0"
description = "A collection of secondary-level functions to use to interact with the OrcaBus"
license = "GPL-3.0-or-later"
authors = [
    "Alexis Lucattini"
]
homepage = "https://github.com/orcabus/platform-cdk-constructs"
repository = "https://github.com/orcabus/platform-cdk-constructs"

[tool.poetry.dependencies]
python = "^3.14, <3.15"
fastapi = {extras = ["standard"], version = ">=0.115.6"}
pydantic = "^2.10.5"
mangum = "^0.19.0"
dyntastic = "^0.16.0"
ulid-py = "^1.1.0"
requests = "^2.32.3"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "^7.0.0"  # For testing only
# For typehinting only, not required at runtime
mypy-boto3-ssm = "^1.34"
mypy-boto3-secretsmanager = "^1.34"
